<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <meta name="x5-orientation" content="portrait" />
    <meta name="screen-orientation" content="portrait" />
    <title>HantePay GateWay</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <h2>主页</h2>
        <hr>
        <div class="col-xs-12 col-sm-6">
            <h3>
                HantePay Gateway
            </h3>
            <hr>
            <ul>
                <li><h4>
                    <a href="securePay" target="_blank">标准安全支付</a>
                </h4></li>
                <li><h4>
                    <a href="qrCodePay" target="_blank">生成支付二维码</a>
                </h4></li>
                <li><h4>
                    <a href="posPay" target="_blank">线下扫码支付</a>
                </h4></li>
                <li><h4>
                    <a href="microPay" target="_blank">小程序支付</a>
                </h4></li>
                <li><h4>
                    <a href="refund" target="_blank">退款</a>
                </h4></li>
                <li><h4>
                    <a href="orderQuery" target="_blank">查询订单</a>
                </h4></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>