<!DOCTYPE html>
    <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <meta name="x5-orientation" content="portrait" />
    <meta name="screen-orientation" content="portrait" />
    <title>退款</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/js/bootstrap.min.js">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.jsonview.js"></script>
    <script type="text/javascript" src="/js/jsonview.js"></script>
    <script type="text/javascript" src="/js/demo.js"></script>
    <link rel="stylesheet" href="/css/jsonview.css">
    <style type="text/css">
        .responseBody {
            border: 1px solid #bbbbbb;
            border-radius: 4px;
            color: #333333;
            font-size: 14px;
            height: 180px;
            line-height: 1.6;
            overflow-x: auto;
            overflow-y: scroll;
            padding: 14px;
            position: relative;
            width: 100%;
            word-wrap: break-word;
            margin: 30px 0px;
        }
        #jsonView{
            width:100%;
            clear:both;
            position: relative;
        }
    </style>
</head>
<body>
<div class="container">
    <h3>退款请求表单</h3>
    <form action="/refund" id="apiForm" class="form-horizontal" method="POST">
        <div class="form-group">
            <label for="out_trade_no" class="col-sm-2 control-label">Payment Order No*</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="out_trade_no" name="out_trade_no" placeholder="Payment Order No"  required>
            </div>
        </div>
        <div class="form-group">
            <label for="refund_no" class="col-sm-2 control-label">Refund No*</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="refund_no" name="refund_no"  required>
            </div>
        </div>

        <div class="form-group">
            <label for="nonce_str" class="col-sm-2 control-label">Nonce Str*</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="nonce_str" id="nonce_str"  required>
            </div>
        </div>

        <div class="form-group">
            <label for="time" class="col-sm-2 control-label">time*</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="time" id="time"  required>
            </div>
        </div>

        <div class="form-group">
            <label for="currency" class="col-sm-2 control-label">Order Currency*</label>
            <div class="col-sm-10">
                <select name="currency" id="currency" class="form-control" required>
                    <option value='USD' selected>USD</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="refund_amount" class="col-sm-2 control-label">Refund Amount*</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="refund_amount" name="refund_amount"  placeholder="Refund Amount" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="refund_rmb_amount" class="col-sm-2 control-label">Refund RMB Amount*</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="refund_rmb_amount" name="refund_rmb_amount"  placeholder="Refund RMB Amount" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="refund_desc" class="col-sm-2 control-label">Refund Order Description*</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="refund_desc" id="refund_desc" placeholder="Refund Order Description" value="测试" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" id="btnSubmit" class="btn btn-default">Submit</button>
            </div>
        </div>

        <h4>Request Info</h4>
        <div class="well">
            <label id="apiRequestUrlInfo" style="color:green"></label>
            <br>
            <label><span id="apiRequest"></span></label>
        </div>
        <h4>Response body</h4>
        <div id="responseBody" class="responseBody"></div>
    </form>
</div>
<script type="text/javascript">
    $(function () {
        $("#refund_no").val(new Date().Format("yyyyMMddHHmmss") + randomString(4));
        $("#time").val((new Date()).valueOf());
        $("#nonce_str").val(randomString(10));
    });
</script>
</body>
</html>