<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
    <meta name="x5-orientation" content="portrait" />
    <meta name="screen-orientation" content="portrait" />
    <title>标准安全支付</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/js/bootstrap.min.js">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/demo.js"></script>
</head>
<body>
<div class="container">
    <h3>标准支付请求表单</h3>
    <form action="/securePay" class="form-horizontal" method="POST">
        <div class="form-group">
            <label for="out_trade_no" class="col-sm-2 control-label">Order No*</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="out_trade_no" name="out_trade_no" required>
            </div>
        </div>
        <div class="form-group">
            <label for="payment_method" class="col-sm-2 control-label">Payment Method*</label>
            <div class="col-sm-10">
                <select name="payment_method" id="payment_method" class="form-control" required>
                    <option value='wechatpay'>wechatpay</option>
                    <option value='alipay'>alipay</option>
                    <option value='creditcard'>creditcard</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="callback_url" class="col-sm-2 control-label">Callback URL*</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="callback_url" id="callback_url" value="http://xiayue2008.imwork.net/callback" required>
            </div>
        </div>
        <div class="form-group">
            <label for="notify_url" class="col-sm-2 control-label">Notify URL*</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="notify_url" id="notify_url" value="http://xiayue2008.imwork.net/notify" required>
            </div>
        </div>

        <div class="form-group">
            <label for="nonce_str" class="col-sm-2 control-label">Nonce Str*</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="nonce_str" id="nonce_str" required>
            </div>
        </div>

        <div class="form-group">
            <label for="time" class="col-sm-2 control-label">time*</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="time" id="time" required>
            </div>
        </div>

        <div class="form-group">
            <label for="currency" class="col-sm-2 control-label">Order Currency*</label>
            <div class="col-sm-10">
                <select name="currency" id="currency" class="form-control" required>
                    <option value='USD' selected>USD</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="amount" class="col-sm-2 control-label">Order Amount*</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="amount" name="amount"  placeholder="Amount" value="1">
            </div>
        </div>

        <div class="form-group">
            <label for="amount" class="col-sm-2 control-label">RMB Amount*</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="rmb_amount" name="rmb_amount"  placeholder="RMB Amount">
            </div>
        </div>

        <div class="form-group">
            <label for="terminal" class="col-sm-2 control-label">Terminal*</label>
            <div class="col-sm-10">
                <select name="terminal" id="terminal" class="form-control" required>
                    <option value='ONLINE' selected>PC</option>
                    <option value='WAP'>WAP</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="body" class="col-sm-2 control-label">Order Description*</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="body" id="body" placeholder="Order Description" value="测试" required>
            </div>
        </div>
        <div class="form-group">
            <label for="note" class="col-sm-2 control-label">Note</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="note" name="note" placeholder="Enter Note">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {
        $("#out_trade_no").val(new Date().Format("yyyyMMddHHmmss") + randomString(4));
        $("#time").val((new Date()).valueOf());
        $("#nonce_str").val(randomString(10));
    });
</script>
</body>
</html>